// left sidebar
// ==============================================================
.nav-left-sidebar.sidebar-dark
  .menu-list
    nav.navbar.navbar-expand-lg.navbar-light
      a.d-xl-none.d-lg-none(href='#') Dashboard
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.flex-column
          li.nav-divider
            | Menu
          li.nav-item
            a.nav-link.active(href='#', data-toggle='collapse', aria-expanded='false', data-target='#submenu-1', aria-controls='submenu-1')
              i.fa.fa-fw.fa-user-circle
              | Dashboard 
              span.badge.badge-success 6
            #submenu-1.collapse.submenu(style='')
              ul.nav.flex-column
                li.nav-item
                  a.nav-link(href='#', data-toggle='collapse', aria-expanded='false', data-target='#submenu-1-2', aria-controls='submenu-1-2') E-Commerce
                  #submenu-1-2.collapse.submenu(style='')
                    ul.nav.flex-column
                      li.nav-item
                        a.nav-link(href='index.html') E Commerce Dashboard
                      li.nav-item
                        a.nav-link(href='ecommerce-product.html') Product List
                      li.nav-item
                        a.nav-link(href='ecommerce-product-single.html') Product Single
                      li.nav-item
                        a.nav-link(href='ecommerce-product-checkout.html') Product Checkout
                li.nav-item
                  a.nav-link(href='dashboard-finance.html') Finance
                li.nav-item
                  a.nav-link(href='dashboard-sales.html') Sales
                li.nav-item
                  a.nav-link(href='#', data-toggle='collapse', aria-expanded='false', data-target='#submenu-1-1', aria-controls='submenu-1-1') Infulencer
                  #submenu-1-1.collapse.submenu(style='')
                    ul.nav.flex-column
                      li.nav-item
                        a.nav-link(href='dashboard-influencer.html') Influencer
                      li.nav-item
                        a.nav-link(href='influencer-finder.html') Influencer Finder
                      li.nav-item
                        a.nav-link(href='influencer-profile.html') Influencer Profile
          
            a.nav-link(href='#', data-toggle='collapse', aria-expanded='false', 
            data-target='#submenu-10', aria-controls='submenu-10')
              i.fas.fa-f.fa-folder
              | Products
            #submenu-10.collapse.submenu(style='')
              ul.nav.flex-column
                li.nav-item
                  a.nav-link(href='/product') product list
                li.nav-item
                  a.nav-link(href='/product/addProduct') Add product

            a.nav-link(href='#', data-toggle='collapse', aria-expanded='false', 
            data-target='#submenu-11', aria-controls='submenu-11')
              i.fas.fa-f.fa-folder
              | Account
            #submenu-11.collapse.submenu(style='')
              ul.nav.flex-column
                li.nav-item
                  a.nav-link(href='/account') Account list
                li.nav-item
                  a.nav-link(href='/account/addAccount') Add Account
                //- li.nav-item
                //-   a.nav-link(href='#', data-toggle='collapse', aria-expanded='false', 
                //-   data-target='#submenu-11', aria-controls='submenu-11') Level 2
                //-   #submenu-11.collapse.submenu(style='')
                //-     ul.nav.flex-column
                //-       li.nav-item
                //-         a.nav-link(href='#') Level 1
                //-       li.nav-item
                //-         a.nav-link(href='#') Level 2
// ==============================================================
// end left sidebar