extends ./layouts/common

block content
  case module
    when 'products'
      include product/products
    when 'addProduct'
      include product/addProduct
    when 'productDetail'
      include product/productDetail
    when 'updateProduct'
      include product/updateProduct
    when 'test'
      include product/test
    default
      include modules/home