doctype html
//if lt IE 7
//if IE 7
//if IE 8
// [if gt IE 8] <!
// <![endif]
// Mirrored from demo.hasthemes.com/cruise-fashion/cruise/index.html?fbclid=IwAR2pNVNvugm6IgWlg8HpnN2FueRO3AVlGBI31vWqPe6aKcGj8cxtjP71uYo by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 May 2019 05:32:28 GMT
include modules/link
// start preloader
include modules/preloader
// end preloader
// start header
include modules/header
// end header

include page/home/home

// start footer
include modules/footer
// end footer
include modules/script