.slider_area
    .container-fluid
        .row
            #slider_rev.slider.margin-bottom-30
                .fullwidthbanner-container
                    .fullwidthbanner
                        ul
                            li(data-transition='random', data-slotamount='7', data-masterspeed='1000')
                                img(src='/user/img/rev-slider/rev-slider-one.jpg', alt='slide')
                                #mens_collection.tp-caption.large_black.sfr(data-x='990', data-y='178', data-speed='1100', data-start='1100', data-easing='easeInOutBack', style='font-size: 37px; line-height: 33px; color: #999999; top: 230px; ')
                                    | Collection
                                .tp-caption.large_black.sfr(data-x='715', data-y='149', data-speed='1100', data-start='1400', data-easing='easeInOutBack', style="color: #444444; font-size: 120px; font-family: 'Pacifico', cursive; ")
                                    | Real man
                                .tp-caption.large_black.sfr(data-x='799', data-y='294', data-speed='1200', data-start='1400', data-easing='easeInOutBack', style='color: #999999; font-weight: 600; font-size: 30px; text-transform: uppercase;')
                                    | save up to 30% off
                                .tp-caption.lfb.carousel-caption-inner(data-x='890', data-y='352', data-speed='1300', data-start='1700', data-easing='easeInOutBack', style='')
                                    a.s-btn(href='#', style='background: transparent; color: #666666; border: 2px solid #aaaaaa; font-weight: 600; font-size: 14px; display: inline-block; padding: 8px 17px;') Shop Now
                            li(data-transition='random', data-slotamount='7', data-masterspeed='1000')
                                img(src='/user/img/rev-slider/rev-slider-two.jpg', alt='slide')
                                .tp-caption.large_black.sfr.carousel-caption-inner(data-x='260', data-y='165', data-speed='1100', data-start='1100', data-easing='easeInOutBack', style='color:#999999; font-size: 30px; font-weight: 600; letter-spacing: 1px')
                                    | In Store Right Now
                                .tp-caption.large_black.sfr.carousel-caption-inner(data-x='109', data-y='145', data-speed='1100', data-start='1400', data-easing='easeInOutBack', style="font-family: 'Pacifico', cursive; font-size: 115px; color: #444444; font-weight: 600; letter-spacing: 6px")
                                    | Save
                                    span(style='margin-left: 13px; ') 35
                                    span(style='display: inline-block; font-size: 50px; margin-top: 28px; margin-left: -40px; ') %
                                .tp-caption.large_black.sfr.carousel-caption-inner(data-x='177', data-y='291', data-speed='1100', data-start='1400', data-easing='easeInOutBack', style='color: #999999; font-size: 30px; font-weight: 600; text-transform: uppercase; letter-spacing: 2px; ')
                                    | On Selected Items
                                .tp-caption.lfb.carousel-caption-inner(data-x='290', data-y='353', data-speed='1300', data-start='1700', data-easing='easeInOutBack', style='')
                                    a.s-btn(href='#', style='background: transparent; color: #666666; border: 2px solid #aaaaaa; font-weight: 600; font-size: 14px; display: inline-block; padding: 8px 17px;') Shop Now
                            li(data-transition='random', data-slotamount='7', data-masterspeed='1000')
                                img(src='/user/img/rev-slider/rev-slider-three.jpg', alt='slide')
                                .tp-caption.large_black.sfr.carousel-caption-inner(data-x='700', data-y='172', data-speed='1100', data-start='1100', data-easing='easeInOutBack', style='font-size: 40px; color: #fff; ')
                                    | The best
                                .tp-caption.large_black.sfr.carousel-caption-inner(data-x='524', data-y='149', data-speed='1100', data-start='1400', data-easing='easeInOutBack', style="font-family: 'Pacifico', cursive; font-size: 120px; font-weight: 700; color: #ffffff; letter-spacing: 5px;")
                                    | Shoes
                                .tp-caption.large_black.sfr.carousel-caption-inner(data-x='584', data-y='297', data-speed='1100', data-start='1400', data-easing='easeInOutBack', style='font-size: 25px; color: #fff; text-transform: uppercase; font-weight: 600; ')
                                    | save up to 30% off
                                .tp-caption.lfb.carousel-caption-inner(data-x='658', data-y='353', data-speed='1300', data-start='1700', data-easing='easeInOutBack', style='')
                                    a.w-btn(href='#', style='color: #fff; border: 2px solid #fff; font-weight: 600; font-size: 14px; display: inline-block; padding: 8px 17px;') Shop Now