// start home slider
include home-slider
// end home slider
// start product area
include product-area
// end product area
// start supports area
include supports-area
// end supports area
// start latest post area
include post-area
// end latest post area