section.latest_post_area
    .container
        .row
            .latest_post
                .section_title
                    h4 Latest post
                .row
                    .col-lg-4.col-md-4.col-sm-4
                        .single_latest_post
                            .grid
                                figure.effect-honey
                                    a(href='#')
                                        img(src='/user/img/single-latest-product-one.png', alt='')
                                    figcaption
                                        h6 30 Feb
                                .product-description
                                    p
                                        a(href='#')
                                            span By
                                            |  Hastech
                                        a(href='#')
                                            | 12 
                                            span Comments
                                        a(href='#')
                                            | 25 
                                            span Likes
                                    a(href='#') Eddie Chacon &amp; Sissy Sainte
                                    p
                                        | Seed at risus sed tortor dapibus varius sits amet eu saps ein. Pellentesque st amet gra vida quam. [...]
                                // product-description
                                // grid
                                // .single_latest_post
                    .col-lg-4.col-md-4.col-sm-4
                        .single_latest_post
                            .grid
                                figure.effect-honey
                                    a(href='#')
                                        img(src='/user/img/single-latest-product-two.png', alt='')
                                    figcaption
                                        h6 25 Feb
                                .product-description
                                    p
                                        a(href='#')
                                            span By
                                            |  Hastech
                                        a(href='#')
                                            | 12 
                                            span Comments
                                        a(href='#')
                                            | 25 
                                            span Likes
                                    a(href='#') Fragrances with Na Nin
                                    p
                                        | Seed at risus sed tortor dapibus varius sits amet eu saps ein. Pellentesque st amet gra vida quam. [...]
                                // product-description
                                // grid
                                // .single_latest_post
                    .col-lg-4.col-md-4.col-sm-4
                        .single_latest_post
                            .grid
                                figure.effect-honey
                                    a(href='#')
                                        img(src='/user/img/single-latest-product-three.png', alt='')
                                    figcaption
                                        h6 15 Feb
                                .product-description
                                    p
                                        a(href='#')
                                            span By
                                            |  Hastech
                                        a(href='#')
                                            | 12 
                                            span Comments
                                        a(href='#')
                                            | 25 
                                            span Likes
                                    a(href='#') Homes in the Badlands
                                    p
                                        | Pelle at risus sed tortor dapibus varius sits amet eu saps ein. Pellentesque st amet gra vida quam. [...]
                                // product-description
                                // grid
                                // .single_latest_post
                                