section.products_area
    .container
        .row
            .products
                .row
                    // start third product row
                    .third_product_row
                        .col-lg-4.col-md-4.col-sm-4.col-xs-12
                            .single_product
                                .grid
                                    figure.effect-winston
                                        img(src='/user/img/product-twelve.png', alt='img01')
                                        figcaption
                                            h2
                                                | mens 
                                                span lookbook
                                            p Hot sale
                        .col-lg-4.col-md-4.col-sm-4.col-xs-12
                            .row
                                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                    .half_row.margin-bottom-40
                                        .single_product
                                            .grid
                                                figure.effect-julia
                                                    img(src='/user/img/product-six.png', alt='img01')
                                                    figcaption
                                                        h2 free shipping
                                                        div
                                                            p on oder of $369.00
                                                            p
                                                                | Use Code Freeship 
                                                                span
                                                                | FS02
                                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                    .half_row.half_last_row.margin-bottom-40
                                        .single_product
                                            .grid
                                                figure.effect-julia
                                                    img(src='/user/img/product-seven.png', alt='img01')
                                                    figcaption
                                                        h3 accesories
                        .col-lg-4.col-md-4.col-sm-4.col-xs-12
                            .single_product
                                .grid
                                    figure.effect-moses
                                        img(src='/user/img/product-eight.png', alt='img01')
                                        figcaption
                                            h2 Womens LookBook
                                            p new collection
                    // end third product row
                .row
                    .col-lg-12.col-md-12.col-sm-12
                        // start new featured sales tab
                        .new_featured_sales
                            div(role='tabpanel')
                                // Nav tabs
                                .border
                                    ul.nav.nav-tabs(role='tablist')
                                        li.active(role='presentation')
                                            a(href='#new_tab', aria-controls='new_tab', role='tab', data-toggle='tab') new
                                        li(role='presentation')
                                            a(href='#featured_tab', aria-controls='featured_tab', role='tab', data-toggle='tab') featured
                                        li(role='presentation')
                                            a(href='#sales_tab', aria-controls='sales_tab', role='tab', data-toggle='tab') sales
                                .row
                                    // Tab panes
                                    .tab-content
                                        #new_tab.tab-pane.active(role='tabpanel')
                                            .col-lg-3.col-md-3.col-sm-3
                                                .single_tab_content
                                                    figure.effect-lexi
                                                        a(href='#')
                                                            img(src='/user/img/tab-image-one.png', alt='')
                                                        figcaption
                                                            a.add_to_cart(href='#') Add to cart
                                                            p.discount
                                                            p.favourite
                                                                a(href='#')
                                                                    i.fa.fa-refresh
                                                                a(href='#')
                                                                    i.fa.fa-heart
                                                                a(href='#')
                                                                    i.fa.fa-search
                                                    .product_description
                                                        a(href='#') Et harum quidem rerum dress
                                                        .star
                                                            a(href='#')
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star-o
                                                                i.fa.fa-star-o
                                                        .price
                                                            p
                                                                span.old_price $409.00
                                                                span.new_price $369.00
                                            .col-lg-3.col-md-3.col-sm-3
                                                .single_tab_content
                                                    figure.effect-lexi
                                                        a(href='#')
                                                            img(src='/user/img/tab-image-two-without-overlay.png', alt='')
                                                        figcaption
                                                            a.add_to_cart(href='#') Add to cart
                                                            p.discount
                                                            p.favourite
                                                                a(href='#')
                                                                    i.fa.fa-refresh
                                                                a(href='#')
                                                                    i.fa.fa-heart
                                                                a(href='#')
                                                                    i.fa.fa-search
                                                    .product_description
                                                        a(href='#') Et harum quidem rerum dress
                                                        .star
                                                            a(href='#')
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star-o
                                                                i.fa.fa-star-o
                                                        .price
                                                            p
                                                                span.old_price $409.00
                                                                span.new_price $369.00
                                            .col-lg-3.col-md-3.col-sm-3
                                                .single_tab_content
                                                    figure.effect-lexi
                                                        a(href='#')
                                                            img(src='/user/img/tab-image-three.png', alt='')
                                                        figcaption
                                                            a.add_to_cart(href='#') Add to cart
                                                            p.discount
                                                            p.favourite
                                                                a(href='#')
                                                                    i.fa.fa-refresh
                                                                a(href='#')
                                                                    i.fa.fa-heart
                                                                a(href='#')
                                                                    i.fa.fa-search
                                                    .product_description
                                                        a(href='#') Et harum quidem rerum dress
                                                        .star
                                                            a(href='#')
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star-o
                                                                i.fa.fa-star-o
                                                        .price
                                                            p
                                                                span.old_price $409.00
                                                                span.new_price $369.00
                                            .col-lg-3.col-md-3.col-sm-3
                                                .single_tab_content
                                                    figure.effect-lexi
                                                        a(href='#')
                                                            img(src='/user/img/tab-image-four.png', alt='')
                                                        figcaption
                                                            a.add_to_cart(href='#') Add to cart
                                                            p.discount
                                                            p.favourite
                                                                a(href='#')
                                                                    i.fa.fa-refresh
                                                                a(href='#')
                                                                    i.fa.fa-heart
                                                                a(href='#')
                                                                    i.fa.fa-search
                                                    .product_description
                                                        a(href='#') Et harum quidem rerum dress
                                                        .star
                                                            a(href='#')
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star-o
                                                                i.fa.fa-star-o
                                                        .price
                                                            p
                                                                span.old_price $409.00
                                                                span.new_price $369.00
                                        #featured_tab.tab-pane(role='tabpanel')
                                            .col-lg-3.col-md-3.col-sm-3
                                                .single_tab_content
                                                    figure.effect-lexi
                                                        a(href='#')
                                                            img(src='/user/img/tab-image-one.png', alt='')
                                                        figcaption
                                                            a.add_to_cart(href='#') Add to cart
                                                            p.discount
                                                            p.favourite
                                                                a(href='#')
                                                                    i.fa.fa-refresh
                                                                a(href='#')
                                                                    i.fa.fa-heart
                                                                a(href='#')
                                                                    i.fa.fa-search
                                                    .product_description
                                                        a(href='#') Et harum quidem rerum dress
                                                        .star
                                                            a(href='#')
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star-o
                                                                i.fa.fa-star-o
                                                        .price
                                                            p
                                                                span.old_price $409.00
                                                                span.new_price $369.00
                                            .col-lg-3.col-md-3.col-sm-3
                                                .single_tab_content
                                                    figure.effect-lexi
                                                        a(href='#')
                                                            img(src='/user/img/tab-image-two-without-overlay.png', alt='')
                                                        figcaption
                                                            a.add_to_cart(href='#') Add to cart
                                                            p.discount
                                                            p.favourite
                                                                a(href='#')
                                                                    i.fa.fa-refresh
                                                                a(href='#')
                                                                    i.fa.fa-heart
                                                                a(href='#')
                                                                    i.fa.fa-search
                                                    .product_description
                                                        a(href='#') Et harum quidem rerum dress
                                                        .star
                                                            a(href='#')
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star-o
                                                                i.fa.fa-star-o
                                                        .price
                                                            p
                                                                span.old_price $409.00
                                                                span.new_price $369.00
                                            .col-lg-3.col-md-3.col-sm-3
                                                .single_tab_content
                                                    figure.effect-lexi
                                                        a(href='#')
                                                            img(src='/user/img/tab-image-four.png', alt='')
                                                        figcaption
                                                            a.add_to_cart(href='#') Add to cart
                                                            p.discount
                                                            p.favourite
                                                                a(href='#')
                                                                    i.fa.fa-refresh
                                                                a(href='#')
                                                                    i.fa.fa-heart
                                                                a(href='#')
                                                                    i.fa.fa-search
                                                    .product_description
                                                        a(href='#') Et harum quidem rerum dress
                                                        .star
                                                            a(href='#')
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star-o
                                                                i.fa.fa-star-o
                                                        .price
                                                            p
                                                                span.old_price $409.00
                                                                span.new_price $369.00
                                            .col-lg-3.col-md-3.col-sm-3
                                                .single_tab_content
                                                    figure.effect-lexi
                                                        a(href='#')
                                                            img(src='/user/img/tab-image-three.png', alt='')
                                                        figcaption
                                                            a.add_to_cart(href='#') Add to cart
                                                            p.discount
                                                            p.favourite
                                                                a(href='#')
                                                                    i.fa.fa-refresh
                                                                a(href='#')
                                                                    i.fa.fa-heart
                                                                a(href='#')
                                                                    i.fa.fa-search
                                                    .product_description
                                                        a(href='#') Et harum quidem rerum dress
                                                        .star
                                                            a(href='#')
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star-o
                                                                i.fa.fa-star-o
                                                        .price
                                                            p
                                                                span.old_price $409.00
                                                                span.new_price $369.00
                                        #sales_tab.tab-pane(role='tabpanel')
                                            .col-lg-3.col-md-3.col-sm-3
                                                .single_tab_content
                                                    figure.effect-lexi
                                                        a(href='#')
                                                            img(src='/user/img/tab-image-two-without-overlay.png', alt='')
                                                        figcaption
                                                            a.add_to_cart(href='#') Add to cart
                                                            p.discount
                                                            p.favourite
                                                                a(href='#')
                                                                    i.fa.fa-refresh
                                                                a(href='#')
                                                                    i.fa.fa-heart
                                                                a(href='#')
                                                                    i.fa.fa-search
                                                    .product_description
                                                        a(href='#') Et harum quidem rerum dress
                                                        .star
                                                            a(href='#')
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star-o
                                                                i.fa.fa-star-o
                                                        .price
                                                            p
                                                                span.old_price $409.00
                                                                span.new_price $369.00
                                            .col-lg-3.col-md-3.col-sm-3
                                                .single_tab_content
                                                    figure.effect-lexi
                                                        a(href='#')
                                                            img(src='/user/img/tab-image-one.png', alt='')
                                                        figcaption
                                                            a.add_to_cart(href='#') Add to cart
                                                            p.discount
                                                            p.favourite
                                                                a(href='#')
                                                                    i.fa.fa-refresh
                                                                a(href='#')
                                                                    i.fa.fa-heart
                                                                a(href='#')
                                                                    i.fa.fa-search
                                                    .product_description
                                                        a(href='#') Et harum quidem rerum dress
                                                        .star
                                                            a(href='#')
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star-o
                                                                i.fa.fa-star-o
                                                        .price
                                                            p
                                                                span.old_price $409.00
                                                                span.new_price $369.00
                                            .col-lg-3.col-md-3.col-sm-3
                                                .single_tab_content
                                                    figure.effect-lexi
                                                        a(href='#')
                                                            img(src='/user/img/tab-image-four.png', alt='')
                                                        figcaption
                                                            a.add_to_cart(href='#') Add to cart
                                                            p.discount
                                                            p.favourite
                                                                a(href='#')
                                                                    i.fa.fa-refresh
                                                                a(href='#')
                                                                    i.fa.fa-heart
                                                                a(href='#')
                                                                    i.fa.fa-search
                                                    .product_description
                                                        a(href='#') Et harum quidem rerum dress
                                                        .star
                                                            a(href='#')
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star-o
                                                                i.fa.fa-star-o
                                                        .price
                                                            p
                                                                span.old_price $409.00
                                                                span.new_price $369.00
                                            .col-lg-3.col-md-3.col-sm-3
                                                .single_tab_content
                                                    figure.effect-lexi
                                                        a(href='#')
                                                            img(src='/user/img/tab-image-three.png', alt='')
                                                        figcaption
                                                            a.add_to_cart(href='#') Add to cart
                                                            p.discount
                                                            p.favourite
                                                                a(href='#')
                                                                    i.fa.fa-refresh
                                                                a(href='#')
                                                                    i.fa.fa-heart
                                                                a(href='#')
                                                                    i.fa.fa-search
                                                    .product_description
                                                        a(href='#') Et harum quidem rerum dress
                                                        .star
                                                            a(href='#')
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star
                                                                i.fa.fa-star-o
                                                                i.fa.fa-star-o
                                                        .price
                                                            p
                                                                span.old_price $409.00
                                                                span.new_price $369.00
                        // end new featured sales tab