section.our_supports_area
    .container
        .row
            .our_supports
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                    .row
                        .single_supports
                            .supports_icon
                                a(href='#')
                                    i.fa.fa-money
                            .supports_content
                                h4 100% money back guarantee
                                p
                                    | Duis luctus libero in quam convallis, dpla ces aellus convallis. Duis luctus libero ces./ aellus convallis.
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                    .row
                        .single_supports
                            .supports_icon
                                a(href='#')
                                    i.fa.fa-paper-plane
                            .supports_content
                                h4 100% money back guarantee
                                p
                                    | Duis luctus libero in quam convallis, dpla ces aellus convallis. Duis luctus libero ces./ aellus convallis.
                .col-lg-4.col-md-4.col-sm-4.col-xs-12
                    .row
                        .single_supports
                            .supports_icon
                                a(href='#')
                                    i.fa.fa-life-ring
                            .supports_content
                                h4 100% money back guarantee
                                p
                                    | Duis luctus libero in quam convallis, dpla ces aellus convallis. Duis luctus libero ces./ aellus convallis.