footer
    // start footer slider
    .footer_slider_area
        .container
            .row
                .footer_slider
                    .testimonial
                        .footer_top_slider
                            .item
                                a(href='#')
                                    img(src='/user/img/our-logo-one.png', alt='')
                            .item
                                a(href='#')
                                    img(src='/user/img/our-logo-two.png', alt='')
                            .item
                                a(href='#')
                                    img(src='/user/img/our-logo-three.png', alt='')
                            .item
                                a(href='#')
                                    img(src='/user/img/our-logo-four.png', alt='')
                            .item
                                a(href='#')
                                    img(src='/user/img/our-logo-five.png', alt='')
                            .item
                                a(href='#')
                                    img(src='/user/img/our-logo-six.png', alt='')
                            .item
                                a(href='#')
                                    img(src='/user/img/our-logo-one.png', alt='')
                            .item
                                a(href='#')
                                    img(src='/user/img/our-logo-two.png', alt='')
                            .item
                                a(href='#')
                                    img(src='/user/img/our-logo-three.png', alt='')
                            .item
                                a(href='#')
                                    img(src='/user/img/our-logo-four.png', alt='')
    // end footer slider
    // start footer top area
    .footer_top_area
        .container
            .row
                .footer_top
                    .row
                        .col-lg-4.col-md-4.col-sm-4.col-xs-12
                            .footer_top_widget.fix
                                h4.special_border_right About us
                                p.margin-tb-30
                                    | Quisque eget elit purus. Vivamus dictum rutrum ipsum, quist ornare lorem iaculis nec. Sed volutpat tincdunt justo eget lob ortis. Phasellus molestie rutrum lorem sit. Quisque eget elit purus. Vivamus dictum rutrum ipsumi.
                                ul.social_icons
                                    li
                                        a(href='#')
                                            i.fa.fa-twitter
                                    li
                                        a(href='#')
                                            i.fa.fa-google-plus
                                    li
                                        a(href='#')
                                            i.fa.fa-facebook
                                    li
                                        a(href='#')
                                            i.fa.fa-twitter
                                    li
                                        a(href='#')
                                            i.fa.fa-pinterest
                                    li
                                        a(href='#')
                                            i.fa.fa-skype
                        .col-lg-4.col-md-4.col-sm-4.col-xs-12
                            .footer_top_widget.fix
                                h4.special_border_right Latest tweet
                                ul.latest_tweet
                                    li
                                        p.margin-top-30
                                            i.fa.fa-twitter
                                            | @Jone Doe Integer sit amet commodo eros, sed dictums ipsum. Integer sit ame commodo eros.
                                            span 12 hour ago
                                    li
                                        p.margin-top-30
                                            i.fa.fa-twitter
                                            | @Jone Doe Integer sit amet commodo eros, sed dictums ipsum. Integer sit ame commodo eros.
                                            span 12 hour ago
                        .col-lg-4.col-md-4.col-sm-4.col-xs-12
                            .footer_top_widget.fix
                                h4.special_border_right Newsletters
                                p.margin-top-30 Subscribe to Our Newsletter to get Important News.
                                input(type='text')
                                a.btn(href='#') SUBSCRIBE
    // end footer top area
    // start footer bottom area
    .footer_bottom_area
        .container
            .row
                .footer_bottom
                    .row
                        .col-lg-3.col-md-3.col-sm-6.col-xs-12
                            .footer_widget
                                .logo
                                    a(href='#')
                                        img(src='/user/img/logo.png', alt='')
                                        span - fashion -
                                ul.special_widget
                                    li
                                        i.fa.fa-phone
                                        |                                                 +1 (00) 86 868 868 666 
                                        br
                                        |                                                 +1 (00) 42 868 666 888
                                    li
                                        i.fa.fa-envelope
                                        |                                                 admin@bootexperts.com
                                        br
                                        |                                                 info@bootexperts.com
                                    li
                                        i.fa.fa-map-marker
                                        |                                                 68 Dohava Stress, Lorem isput Spusts 
                                        br
                                        |                                                 New York- United State
                        .col-lg-3.col-md-3.col-sm-6.col-xs-12
                            .footer_widget
                                h4 My account
                                ul
                                    li
                                        a(href='#')
                                            i.fa.fa-angle-right
                                            | My Account
                                    li
                                        a(href='#')
                                            i.fa.fa-angle-right
                                            | About Us
                                    li
                                        a(href='#')
                                            i.fa.fa-angle-right
                                            | Contact
                                    li
                                        a(href='#')
                                            i.fa.fa-angle-right
                                            | Affiliates
                                    li
                                        a(href='#')
                                            i.fa.fa-angle-right
                                            | Meet The Maker
                        .col-lg-3.col-md-3.col-sm-6.col-xs-12
                            .footer_widget
                                h4 Information
                                ul
                                    li
                                        a(href='#')
                                            i.fa.fa-angle-right
                                            | Return &amp; Exchanges
                                    li
                                        a(href='#')
                                            i.fa.fa-angle-right
                                            | Gift Cards
                                    li
                                        a(href='#')
                                            i.fa.fa-angle-right
                                            | Order Status
                                    li
                                        a(href='#')
                                            i.fa.fa-angle-right
                                            | Free Shipping
                                    li
                                        a(href='#')
                                            i.fa.fa-angle-right
                                            | Returns &amp; Exchanges
                        .col-lg-3.col-md-3.col-sm-6.col-xs-12
                            .footer_widget
                                h4 Opening time
                                ul
                                    li
                                        span.floatleft
                                            i.fa.fa-angle-right
                                            | Monday - Friday
                                        span.floatright 8.00 AM - 8.00 PM
                                    li
                                        span.floatleft
                                            i.fa.fa-angle-right
                                            | Saturday
                                        span.floatright 9.00 AM - 9.00 PM
                                    li.no_border
                                        span.floatleft
                                            i.fa.fa-angle-right
                                            | Sunday
                                        span.floatright 10.00 AM - 6.00 PM
                                .payment
                                    a(href='#')
                                        img(src='/user/img/visa.png', alt='')
                                    a(href='#')
                                        img(src='/user/img/mastercard.png', alt='')
                                    a(href='#')
                                        img(src='/user/img/discover.png', alt='')
                                    a(href='#')
                                        img(src='/user/img/american-express.png', alt='')
                                    a(href='#')
                                        img(src='/user/img/paypal.png', alt='')
    // end footer bottom area
    // start footer copyright area
    .footer_copyright_area
        .container
            .row
                .footer_copyright
                    .row
                        .col-lg-6.col-md-6.col-sm-6.col-xs-12
                            .copyright
                                p
                                    | Copyright &copy; 2015 
                                    a(href='#') Hastech
                                    |  - All Rights Reseved.
                        .col-lg-6.col-md-6.col-sm-6.col-xs-12
                            .footer_menu
                                nav.footer_nav
                                    ul
                                        li
                                            a(href='about-us.html') About Us
                                        li
                                            a(href='#') Check Out
                                        li
                                            a(href='#') My Account
                                        li
                                            a(href='#') Support
                                        li
                                            a(href='contact.html') Contact
    // end footer copyright area