header.header_area
    // start header top area
    .header_top_area
        .container
            .row
                .header_top
                    .col-lg-3.col-md-3.col-sm-6.col-xs-12
                        .row
                            .left_header_top
                                ul
                                    li
                                        a(href='#') Login
                                    li
                                        a(href='#')
                                            | My Account
                                            i.fa.fa-angle-down
                                        ul
                                            li
                                                a(href='#') My Account
                                            li
                                                a(href='#') Wishlist
                                            li
                                                a(href='checkout.html') Check Out
                                            li
                                                a(href='#') Shopping
                                    li
                                        a(href='#')
                                            img(src='/user/img/flag.png', alt='')
                                            | Eng
                                    li
                                        a(href='#')
                                            span $
                                            |  Usd
                    .col-lg-3.col-md-3.col-sm-6.col-xs-12.floatright
                        .row
                            .right_header_top.floatright
                                ul
                                    li.col-lg-8.col-md-8.col-sm-7.col-xs-12
                                        form.search-form(action='#')
                                            .form-group.has-feedback
                                                label.sr-only(for='search') Search
                                                input#search.form-control(type='text', name='search', placeholder='search')
                                                span.fa.fa-search.form-control-feedback
                                    li.col-lg-4.col-md-4.col-sm-5.col-xs-12
                                        a.floatright(href='#')
                                            | my cart 
                                            span.badge (02)
                                        ul
                                            li Recently Added Item(s)
                                            li
                                                .add_to_cart
                                                    img(src='/user/img/cart-home-one.png', alt='')
                                                    p.dress_name Et harum quide dress
                                                    p 01 X $260.00
                                                i.fa.fa-trash-o
                                            li
                                                .add_to_cart
                                                    img(src='/user/img/cart-home-two.png', alt='')
                                                    p.dress_name Et harum quide dress
                                                    p 01 X $260.00
                                                i.fa.fa-trash-o
                                            li
                                                span.subtotal
                                                    | Subtotal:
                                                span.ammount
                                                    | $780.00
                                            li
                                                a.btn.btn-primary(href='#') View Cart
                                                a.btn(href='#') Check Out
    // end header top area
    // start header bottom area
    .header_bottom_area
        .container
            .row
                // LOGO
                .logo
                    a(href='index.html')
                        img(src='/user/img/logo.png', alt='')
                        span - fashion -
                // start menga menu
                .nav_wrap
                    nav.no320
                        ul
                            li
                                a(href='/') Home
                            li.dropdown_mmenu
                                a(href='#') shop
                                .megamenu
                                    .megamenu1
                                        span
                                            em category
                                            a(href='#') My Account
                                            a(href='about-us.html') About Us
                                            a(href='contact.html') Contact
                                            a(href='#') Affiliates
                                            a(href='#') Meet The Maker
                                        span
                                            em category
                                            a(href='#') My Account
                                            a(href='about-us.html') About Us
                                            a(href='contact.html') Contact
                                            a(href='#') Affiliates
                                            a(href='#') Meet The Maker
                                        span
                                            em category
                                            a(href='#') My Account
                                            a(href='about-us.html') About Us
                                            a(href='contact.html') Contact
                                            a(href='#') Affiliates
                                            a(href='#') Meet The Maker
                                        span
                                            em category
                                            a(href='#') My Account
                                            a(href='about-us.html') About Us
                                            a(href='contact.html') Contact
                                            a(href='#') Affiliates
                                            a(href='#') Meet The Maker
                                        span
                                            a(href='#')
                                                img.img-responsive(src='/user/img/mega-item.png', alt='')
                            li.dropdown_menu
                                a(href='#') product
                                .d_menu
                                    span
                                        a(href='gird.html') Product gird
                                    span
                                        a(href='list.html') Product List
                            li.dropdown_menu
                                a(href='#') Blog
                                .d_menu
                                    span
                                        a(href='our-blog.html') Our Blog
                                    span
                                        a(href='blog-details.html') Blog Details
                            li
                                a(href='contact.html') Contact
                    // MOBILE ONLY CONTENT
                    .only-for-mobile
                        ul.ofm
                            li.m_nav
                                i.fa.fa-bars
                                |  Navigation
                        // MOBILE MENU
                        .mobi-menu
                            #cssmenu
                                ul
                                    li.has-sub
                                        a(href='index.html')
                                            span Home
                                        ul.sub-nav
                                            li
                                                a(href='index-two.html')
                                                    span Home - Alternative 1
                                            li
                                                a(href='index-three.html')
                                                    span Home - Alternative 2
                                    li.has-sub
                                        a(href='#')
                                            span shop
                                        ul
                                            li.has-sub
                                                a(href='#')
                                                    span category
                                                ul
                                                    li
                                                        a(href='#')
                                                            span My Account
                                                    li
                                                        a(href='#')
                                                            span About US
                                                    li
                                                        a(href='#')
                                                            span Contact
                                                    li
                                                        a(href='#')
                                                            span Affiliates
                                                    li.last
                                                        a(href='index-2.html#')
                                                            span Meet Marker
                                            li.has-sub
                                                a(href='#')
                                                    span Portfolio
                                                ul
                                                    li
                                                        a(href='#')
                                                            span Portfolio - 4col
                                                    li
                                                        a(href='#')
                                                            span Portfolio - 3col
                                                    li
                                                        a(href='#')
                                                            span Portfolio - 2col
                                                    li
                                                        a(href='#')
                                                            span Portfolio - Single
                                                    li.last
                                                        a(href='#')
                                                            span 404 page
                                            li.has-sub
                                                a(href='#')
                                                    span Shop
                                                ul
                                                    li
                                                        a(href='#')
                                                            span Shop - List style
                                                    li
                                                        a(href='#')
                                                            span Shop - Grid style
                                                    li
                                                        a(href='#')
                                                            span Shop - Single
                                                    li
                                                        a(href='#')
                                                            span Shop - Cartpage
                                                    li.last
                                                        a(href='#')
                                                            span Shop - Checkout
                                            li.has-sub
                                                a(href='#')
                                                    span Extras
                                                ul
                                                    li
                                                        a(href='#')
                                                            span Compare
                                                    li
                                                        a(href='#')
                                                            span About us
                                                    li
                                                        a(href='#')
                                                            span Blog overview
                                                    li
                                                        a(href='#')
                                                            span Blog Single
                                                    li.last
                                                        a(href='#')
                                                            span Contact
                                            li.img-nav
                                                .container
                                                    .clearfix
                                                    .space20
                                                    .clearfix
                                                    .row.in1
                                                        .col-md-6
                                                            a(href='#')
                                                                img.img-responsive(src='/user/http://placehold.it/190x210', alt='')
                                                        .col-md-6
                                                        .clearfix
                                                        .space20
                                                        .clearfix
                                                    .clearfix
                                                    .space20
                                                    .clearfix
                                    li.has-sub
                                        a(href='#')
                                            span Product
                                        ul.sub-nav
                                            li
                                                a(href='gird.html')
                                                    span Product gird
                                            li
                                                a(href='list.html')
                                                    span Product List
                                            li
                                                a(href='single-product.html')
                                                    span Single Product
                                            li
                                                a(href='checkout.html')
                                                    span Checkout
                                    li.has-sub
                                        a(href='#')
                                            span Blog
                                        ul.sub-nav
                                            li
                                                a(href='bloglist.html')
                                                    span Bloglist
                                            li
                                                a(href='our-blog.html')
                                                    span Our Blog
                                    li
                                        a(href='#')
                                            span Portfolio
                                    li
                                        a(href='#')
                                            span Shortcodes
                                    li
                                        a(href='#')
                                            span More
                                    li.has-sub
                                        a(href='#')
                                            span Buy Theme
                                        ul.sub-nav
                                            li
                                                a(href='about-us.html')
                                                    span About Us
                                            li
                                                a(href='contact.html')
                                                    span Contact
                    // MOBILE ONLY CONTENT
                    // end mega menu
                    // end header bottom area