head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title cruise
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='/user/img/favicon.ico', sizes='16x16')
    // font-family
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet', type='text/css')
    // fontawesome
    link(rel='stylesheet', href='/user/css/font-awesome.css')
    link(rel='stylesheet', href='/user/css/normalize.css')
    // bootstrap
    link(rel='stylesheet', href='/user/css/bootstrap.css')
    // uikit
    link(rel='stylesheet', href='/user/css/uikit.min.css')
    // slicknav menu
    link(rel='stylesheet', href='/user/css/slicknav.css')
    // owl carousel
    link(rel='stylesheet', href='/user/css/owl.carousel.css')
    // rev slider
    link(rel='stylesheet', href='/user/css/rev-slider/settings.css')
    // animate
    link(rel='stylesheet', href='/user/css/animate.css')
    // hover effect
    link(rel='stylesheet', href='/user/css/hover-effect.css')
    link(rel='stylesheet', href='/user/style.css')
    // responsive
    link(rel='stylesheet', href='/user/css/responsive.css')
    // modernizr from html5 boilerplate
    script(src='/user/js/vendor/modernizr-2.6.2.min.js')
// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
// aftab zaman
//if lt IE 9
    script(src='/user/js/html5shiv.min.js')
    script(src='/user/js/respond.min.js')